
.button {
  display: flex;
  padding: 6px 12px;
  align-items: center;
  width: 100%;
  border-radius: 4px;
  margin-top: 4px;
  height: 36px;
  box-sizing: border-box;

  &:hover {
    background-color: red;
  }

  .add {
    position: relative;
    padding: 10px;
    box-sizing: border-box;

    &__icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 16px;
      width: 16px;
    }
  }
}

.input {
  outline: none;
  padding: 6px 12px 6px 32px;
  border: 2px solid blue;
  height: 40px;
  width: 100%;
  box-sizing: border-box;
}