
.boards {
  display: flex;

  .board {
    border-radius: 6px;
    margin-left: 6px;
    margin-right: 6px;
    display: flex;
    flex-direction: column;
    align-self: auto;
    flex: 1 1 auto;
    min-width: 270px;
    max-width: 270px;
    background-color: red;

    &__header {
      box-sizing: border-box;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      transition: background-color 0.2s ease 0s;
      height: 48px;
      display: flex;
      align-items: center;
      padding-left: 12px;
    }
  }
}