
$dark-blue: rgb(5, 15, 30);

$black: rgb(24, 24, 24);
$black-border: rgb(27, 26, 25);


$dark-grey: rgb(32, 32, 32);
$grey: rgb(45, 44, 44);
$light-grey: rgb(59, 58, 58);

$text_highlighted: rgb(205, 205, 205);
$text: rgb(150, 150, 150);
$low-text: rgb(120, 120, 120);

$pink: rgb(187, 134, 161);
$orange : rgb(226, 163, 78 );
$red: rgb(255, 115, 115);
$green: rgb(67, 201, 143);
$yellow: rgb(208, 220, 139);
$light-blue: rgb(140, 220, 218);

$dark-red: rgb(140, 0, 0);
$dark-green: rgb(0, 140, 0);

 